* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 800px;
    background-image: url(./sharif_2.jpg);
    background-size: cover;
    padding: 6rem;
}
.name {
    font-weight: 700;
    font-size: 3rem;
    color: red;
    margin-top: 200px;
}
.name:hover {
    color: rgb(251, 255, 20);
    font-size: 60px;

}

.disignation {
    color: rgb(7, 247, 255);
    font-weight: 700;
    padding-top: 10px;
}
.disignation:hover {
    color: rgb(0, 255, 128);
    font-size: 20px;
}
.contry {
    color: rgb(255, 255, 0);
    font-weight: 700;
    padding-top: 10px;
}.contry:hover {
    color: rgb(215, 0, 243);
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 80px;
    height: 300px;
    color: blue;
    background-color: antiquewhite;

}